<html>
  <head>
    <meta charset="utf-8">  
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>diaMATic</title>
    <link  href="lib/ionic/css/ionic.css" rel="stylesheet" >
    <link  href="css/style.css" rel="stylesheet" >
    <script src="lib/ionic/js/ionic.bundle.js" > </script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js" > </script>
    <script src="js/app.js" > </script>
    <link  href="css/fullcalendar.css" rel="stylesheet">
    <script src="js/jquery-v1.11.1.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/calendar.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>

  <body ng-app="calendar" animation="slide-left-right-ios7">

             
    <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <script id="tab.html">
   <ion-tabs class="tabs-icon-top">
      <!-- Calendar Tab -->
      <ion-tab title="Calendar" icon="icon ion-calendar" href="#/tab">
        <ion-nav-view name="tab-calendar">
        </ion-nav-view>
      </ion-tab>
      <!-- Notes Tab -->
      <ion-tab title="Notes" icon="icon ion-clipboard" href="#/tab/notes" >
        <ion-nav-view name="tab-notes"></ion-nav-view>
      </ion-tab>
      <!-- Weight Tab -->
      <ion-tab title="Weight" icon="icon ion-ios7-pulse-strong" href="#/tab/weight" >
        <ion-nav-view name="tab-weight"> </ion-nav-view>
      </ion-tab>
      <!-- Export Tab -->
      <ion-tab title="Export" icon="icon ion-android-download" href="#/tab/export" >
        <ion-nav-view name="tab-export"> </ion-nav-view>
      </ion-tab>
      <!-- About Tab -->
      <ion-tab title="About" icon="icon ion-star" href="#/tab/about" >
        <ion-nav-view name="tab-about"> </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </script>

  <script id="tab-calendar.html" type="text/ng-template">
    <ion-view>
      <ion-content padding="true">
        <div id="calendar1" class="calendar" calendar="calendar1" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
      </ion-content>
    </ion-view>
  </script>

  <script id="event.html" type="text/ng-template">
    <ion-view>
      <ion-header-bar class="bar bar-header bar-royal">
        <button class="button button-icon icon ion-reply" ng-click="backToCalendar()"></button>
        <h1 class="title">October 7</h1>
      </ion-header-bar>
      <ion-content>
	<br>
	<h4>Weight: 138 lbs</h4>
          <img alt="diametric" src="img/diametric.png" width="100%"
	        style="display: block; margin-left: auto; margin-right: auto;"/>
      </ion-content>
    </ion-view>
  </script>

  <script id="tab-notes.html">
    <ion-view>
      <ion-header-bar class="bar-royal">
        <h1 class="title">Notes</h1>
        <button class="button button-icon icon ion-compose" ng-click="newNote()"></button>
      </ion-header-bar>
      <ion-content scroll="true">
        <div class="list">
          <ion-item ng-repeat="note in notes | orderBy:'time':true"">
            <div class="item-text-wrap"><b>{{note.date}}</b>: {{note.text}} </div>
	  </ion-item>
        </div>
      </ion-content>
    </ion-view>
  </script>

  <script id="tab-weight.html">
    <ion-view>
      <ion-header-bar class="bar bar-header bar-royal">
        <h1 class="title">Weight</h1>
      </ion-header-bar>     
      <ion-content class="padding">
        <ion-slide-box id ="weight" delegate-handle="weight" show-pager="false" on-slide-changed="onSlideChanged(index)">
          <ion-slide>
            <img alt="october" src="img/october.png" height="550px"
	         style="display: block; margin-left: auto; margin-right: auto;">
          </ion-slide>
          <ion-slide>
            <img alt="september" src="img/september.png" height="550px"
	         style="display: block; margin-left: auto; margin-right: auto;">
          </ion-slide>
        </ion-slide-box>
      </ion-content>
    </ion-view>
  </script>

  <script id="tab-export.html">
    <ion-view title="Export">
      <ion-header-bar class="bar-royal">
        <h1 class="title">Export</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <h1>Export</h1>
      </ion-content>
    </ion-view>
  </script>

  <script id="tab-about.html">
    <ion-view title="About">
      <ion-header-bar class="bar-royal">
        <h1 class="title">About</h1>
      </ion-header-bar>
      <ion-content class="padding">
        <div>Diabetic Blood Pulse Index (DBPI) is determined by blood
    pulse in the foot. Doppler ultrasonography detects triphasic,
    biphasic, or monophasic frequency readings corresponding to
    normal, mild, and severe grades of vasculopathy. The temperature
    at the site of the reading is also given in addition to the site
    number. These variables are normalized and will provide a risk
    factor for diabetic ulceration. DBPI ranges from 1-10 where 1 is
    low risk and 10 is high risk.</div><br>
        <img alt="diametric" src="img/diaMAT.png" width="100%"
             style="display: block; margin-left: auto; margin-right: auto;"/>
      </ion-content>
    </ion-view>
  </script>
	
  </body>
</html>